*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	min-height: 100vh;
	line-height: 1.5;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		'Noto Sans',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		'Noto Color Emoji';
}

body,
h1,
h2,
h3,
h4,
p {
	margin: 0;
}

ul,
ol {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

a {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button {
	font: inherit;
}
