body {
	padding: 0 3vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

:root {
	--text-color: #1a202c;
}

.logo {
	display: block;
	margin-top: 21px;
	width: 100%;
	cursor: pointer;
	transform: translateZ(0);
	user-select: none;
}

h1 {
	font-size: 12px;
	margin: 0.4em 0;
	font-weight: 700;
	text-align: right;
	color: var(--text-color);
}
