:root {
	--text-color: #1a202c;
}

.logo {
	position: absolute;
	display: block;
	padding: 16px;
	cursor: pointer;
	user-select: none;
}

h1 {
	font-size: 12px;
	margin: 0.4em 0;
	font-weight: 700;
	text-align: right;
	color: var(--text-color);
}
